@charset "UTF-8";


* {
     font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body{
background-image: linear-gradient(to right,#BFBFBF,#4C5958);
}

main{
   
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #08201e;
    width: 600px;
    padding: 10px;
    margin: auto;
    
}
h1{
    color: #127369;
    text-align: center;
    text-shadow:  1px 1px 2px #10403B;
}
h2{
    color:#3c8b85;
}

p{
    text-align: justify;
}
